.contacto-mainSection{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .contacto-text-container{
        height: 80%;
        width: 40%;
        color: $color-negro-gris;
        h2{
            font-family: $titulos;
            font-style: italic;
            font-weight: 900;
            font-size: 13vh;
        }
        h3{
            font-family: $titulos;
            font-style: italic;
            font-weight: 800;
            font-size: 4vh;
            transform: translate(0px, -30%);
        }
        p{
            font-family: $textos;
            font-style: normal;
            font-weight: 400;
            font-size: 2vh;
            margin-top: 1%;
        }
    }
    .contacto-form-container{
        height: 75%;
        width: 30%;
        
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .contacto-form-name{
                height: 10%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                label{
                    height: 60%;
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 2vh;
                }
                input{
                    height: 80%;
                    width: 100%;
                    background-color: $color-verdeagua;
                    border: 1px solid #ACACAC;
                    box-sizing: border-box;
                    border-radius: 9px;
                }
            }
            .contacto-form-email{
                height: 10%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                label{
                    height: 60%;
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 2vh;
                }
                input{
                    height: 80%;
                    width: 100%;
                    background-color: $color-verdeagua;
                    border: 1px solid #ACACAC;
                    box-sizing: border-box;
                    border-radius: 9px;
                }
            }
            .contacto-form-textarea{
                height: 40%;
                width: 100%;
                label{
                    height: 60%;
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 2vh;
                }
                textarea{
                    height: 80%;
                    width: 100%;
                    margin-top: 2%;
                    background-color: $color-verdeagua;
                    border: 1px solid #ACACAC;
                    box-sizing: border-box;
                    border-radius: 9px;
                }
            }
            .contacto-form-button{
                height: 10%;
                width: 100%;
                width: 9vw;
                height: 5vh;
                background-color: $color-negro-gris;
                border-radius: 50px;
                transition: 500ms;
                color: white;
            }
        }
    }
}