// Index Style
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
p {
    margin: 0px;
    padding: 0px;
}
// Nav Bar

@media only screen and (min-width: 320px) and (max-width: 1199px){
    
    header {
        height: 10vh;
        width: 100%;
        background-color: white;
        padding: 0%;
        
        .headerContainer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0px 0px;
            
            a{
                width: 30%;
                height: 100%;
                div{
                    
                    background-image: url(../multimedia/a-to-be-logo.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: 100%;
                    width: 100%;
                    
                    h1{
                        display: none;
                    }
                }
            }
            nav{
               display: none;
                position:absolute;
                right: 0px;
                height: 90vh;
                width: 100%;
                top: 10vh;
                background-color: $color-negro-gris;
                z-index: 100;
                transform: translateX(100%);
                transition:  500ms ease-in;
                
                
                ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        width: 100% ;
                        height: 15%;
                        justify-content: center;
                        border-radius: 30px;
                        transition: 500ms;
                        opacity: 0;
                        
                        a{
                            font-family: $titulos;
                            font-size: 3vh;
                            font-style: normal;
                            font-weight: bold;
                            text-transform: uppercase;
                            color: white;
                            transition: 500ms;
                        }
                    }
                }
            }
            .nav-active{
                display: block;
                transform: translateX(0%);
                
            }
            .burger{
                display: flex;
                flex-direction: column;
                background-image: none;
                div{
                    width: 30px;
                    height: 3px;
                    margin: 3px;
                    background-color: $color-negro-gris;
                }
            }
            .toggle .line1{
                transform: rotate(-45deg) translate(-6px,6px) ;
                transition: 400ms;
            }
            .toggle .line2{
                opacity: 0;
            }
            .toggle .line3{
                transform: rotate(45deg) translate(-6px,-6px) ;
                transition: 400ms;
            }
        }
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .atb-index-banner{
        height: 90vh;
        overflow:hidden;
        margin: 0px;
        .atb-index-banner-contain{
            height: 100%;
            width: 100%;
            margin-left: 0px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            .atb-index-banner-image{
                height: 40%;
                width: 90%;
                background-image: url(../multimedia/Banners-Home-1024x682.png);
                background-size: cover;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: left;
            }
            .atb-index-banner-text{
                height: 38%;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                transform: translate(0px, 0px);
                
                h2{
                    height: 15vh;
                    font-family: $titulos;
                    font-style: italic;
                    font-weight: 900;
                    font-size: 12vh;
                    color: $color-negro-gris;
                    display: flex;
                    div{
                        transform: translate(0px, -15%);
                    }
                    
                }
                h3{
                    font-family: $titulos;
                    font-style: italic;
                    font-weight: 900;
                    font-size: 2.2vh;
                    letter-spacing: 1px;
                    color: $color-negro-gris;
                    
                }
                p{
                    font-family: $textos;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 2.6vh;
                    margin: 15px 0px;
                    color: $color-negro-gris;  
                }
                .button {
                    display: none;
                }
            }
        }
    }
    .atb-index-clients{
        height: 100vh;
         margin: 0px;
         overflow-x: scroll;
        .atb-index-clients-title{
            margin-left: 5%;
            height: 10%;
            h2{
                font-family: $titulos;
                font-style: normal;
                font-weight: 900;
                font-size: 8vh;
                color: $color-negro-gris;
                position: absolute;
            }
        }
        .atb-index-clients-cards-container{
            height: 55%;
            width: 320%;
            padding: 0px 0px;
            margin-top: 2%;
            margin-left: 4.5%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "card1 card2 card3 card4";
            grid-gap: 1rem;
            .atb-index-cards-1{
                width: 100%;
                grid-area: "card1";
                background-image: url(../multimedia/frame-1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .atb-index-cards-text-container{
                    height: 100%;
                    padding-left: 15%;
                    padding-bottom: 5%;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: rgb(48,49,51);
                    background: linear-gradient(0deg, rgba(48,49,51,0.8015581232492998) 20%, rgba(48,49,51,0) 100%);
                    
                    h3{
                        font-family: $titulos;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 5vh;
                        text-transform: uppercase;
                        color: white;
                    }
                    p{
                        font-family: $textos;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 3vh;
                        color: white;
                    }

                }
            }
            .atb-index-cards-2{
                grid-area: "card2";
                background-image: url(../multimedia/frame-2.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .atb-index-cards-text-container{
                    height: 100%;
                    padding-left: 15%;
                    padding-bottom: 5%;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: rgb(48,49,51);
                    background: linear-gradient(0deg, rgba(48,49,51,0.8015581232492998) 20%, rgba(48,49,51,0) 100%);
                    h3{
                        font-family: $titulos;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 5vh;
                        text-transform: uppercase;
                        color: white;
                    }
                    p{
                        font-family: $textos;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 3vh;
                        color: white;
                    }
                }
            }
            .atb-index-cards-3{
                grid-area: "card3";
                background-image: url(../multimedia/frame-3.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .atb-index-cards-text-container{
                    height: 100%;
                    padding-left: 15%;
                    padding-bottom: 5%;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: rgb(48,49,51);
                    background: linear-gradient(0deg, rgba(48,49,51,0.8015581232492998) 20%, rgba(48,49,51,0) 100%);
                    h3{
                        font-family: $titulos;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 5vh;
                        text-transform: uppercase;
                        color: white;
                    }
                    p{
                        font-family: $textos;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 3vh;
                        color: white;
                    }
                }
            }
            .atb-index-cards-4{
                grid-area: "card4";
                background-image: url(../multimedia/frame-4.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .atb-index-cards-text-container{
                    height: 100%;
                    padding-left: 15%;
                    padding-bottom: 5%;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: rgb(48,49,51);
                    background: linear-gradient(0deg, rgba(48,49,51,0.8015581232492998) 20%, rgba(48,49,51,0) 100%);
                    h3{
                        font-family: $titulos;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 5vh;
                        text-transform: uppercase;
                        color: white;
                    }
                    p{
                        font-family: $textos;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 3vh;
                        color: white;
                    }
                }
            }
        }
        .atb-index-clients-carrousel{
            background-image: url(../multimedia/publis-carrusel.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 320%;
            height: 180px;
            margin-top: 5%;
            margin-left: 4.5%;
        }
    }
    .atb-index-clients-gallery{
        display: none;
    }
    .atb-indexResponsive-clients-gallery {
        height: 100vh;
        display: flex;
        flex-direction: column;
        .atb-indexResponsive-clients-gallery-title{
            height: 10%;
            margin-left: 5%;
            h2{
                font-family: $titulos;
                font-style: normal;
                font-weight: 900;
                font-size: 8vh;
                color: $color-negro-gris;
                position: absolute;
            }
        }
        .atb-indexResponsive-client-gallery-contain{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            .atb-indexResponsive-gallery-row-1-container{
                height: 40%;
                width: 100%;
                overflow-x: scroll;
                .atb-indexResponsive-gallery-row-1{
                    height: 100%;
                    width: 500%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .atb-indexResponsive-cliente-1{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                       
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img{
                            display: none;
                        }
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;
                        }
                        
                    }
        
                    .atb-indexResponsive-cliente-2{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-2.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                    
                    .atb-indexResponsive-cliente-6{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-6.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        img{
                            display: none;
                        }
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;
                        }
                        
                    }
                    
                    .atb-indexResponsive-cliente-8{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-8.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                    
                    .atb-indexResponsive-cliente-4{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-4.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                           
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
    
                    .atb-indexResponsive-cliente-11{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-11.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                }
            }
            .atb-indexResponsive-gallery-row-2-container{
                height: 40%;
                width: 100%;
                overflow-x: scroll;

                .atb-indexResponsive-gallery-row-2{
                    height: 100%;
                    width: 500%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
    
                    .atb-indexResponsive-cliente-10{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-10.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                    
                    .atb-indexResponsive-cliente-5{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-5.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                    .atb-indexResponsive-cliente-3{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-3.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                           
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }
                    .atb-indexResponsive-cliente-12{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-12.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img{
                            display: none;
                        }
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;
                        }
                        
                    }
                    
                    .atb-indexResponsive-cliente-9{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-9.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img{
                            display: none;
                        }
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 6vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;
                        }
                        
                    }
    
                    .atb-indexResponsive-cliente-7{
                        width: 15%;
                        height: 100%;
                        background-image: url(../multimedia/g-frame-7.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        
                        h3{
                            
                            display: flex;
                            font-family: $textos;
                            font-size: 4vh;
                            font-weight: 900;
                            color: white;
                            text-align: center;                    
                            opacity: 1;
                            transition: all 500ms ease-in-out;
                        }
                    }   
                }
            }
            
        }
    }
    footer {
        height: 75vh;
        background-color: $color-negro-oscuro;
        color: white;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .atb-index-f-contacto{
            width: 90%;
            height: 20%;
            display: flex;
            flex-direction: column;
            h3{
                font-family: $textos;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5vh;
                margin-bottom: 15px;
            }
            a{
                font-family: $textos;
                color: white;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 2.2vh;
                margin-bottom: 12px;
            }
        }
        .atb-index-f-informacion{
            width: 90%;
            height: 20%;
            display: flex;
            flex-direction: column;
            h3{
                font-family: $textos;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5vh;
                margin-bottom: 15px;
            }
            a{
                font-family: $textos;
                color: white;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 2.2vh;
                margin-bottom: 12px;
            }
        }
        .atb-index-f-redes{
            width: 90%;
            height: 20%;
            display: flex;
            flex-direction: column;
            h3{
                font-family: $textos;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5vh;
                margin-bottom: 15px;
            }
            .atb-index-f-redes-icon-contain{
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                a{
                    background-color: white;
                    border-radius: 30px;
                    .atb-index-f-redes-icon-1{
                        width: 50px;
                        height: 50px;
                        background-image: url(../multimedia/Instagram.png);
                        background-size: 48px 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                a{
                    .atb-index-f-redes-icon-2{
                        width: 50px;
                        height: 50px;
                        background-image: url(../multimedia/Facebook.png);
                        background-size: 48px 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                a{
                    .atb-index-f-redes-icon-3{
                        width: 50px;
                        height: 50px;
                        background-image: url(../multimedia/Linkedin.png);
                        background-size: 48px 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                a{
                    .atb-index-f-redes-icon-4{
                        width: 50px;
                        height: 50px;
                        background-image: url(../multimedia/YouTube.png);
                        background-size: 48px 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                a{
                    .atb-index-f-redes-icon-5{
                        width: 50px;
                        height: 50px;
                        background-image: url(../multimedia/Pinterest.png);
                        background-size: 48px 48px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }    
            }
        }
        .atb-index-f-newsLetter{
            display: none;
            width: 90%;
            height: 20%;
            h3{
                font-family: $textos;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5vh;
                margin-bottom: 15px;
            }
            .atb-index-f-newsLetter-input-contain{
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;

                input{
                    width: 80%;
                    height: 100%;
                    background: #E0E0E0;
                    border-radius: 10px 0px 0px 10px;
                }
                button{
                    width: 20%;
                    height: 100%;
                    font-family: $textos;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2vh;
                    color: white;
                    background: #7E7E7E;
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
    }
}

