// Index Style
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
p {
    margin: 0px;
    padding: 0px;
}
// Nav Bar

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0px 100px;
    overflow: hidden;
    div{
        h1{
            width: 200px;
            margin: 0px 50px;
            font-family: Druk Text Wide;
            font-style: normal;
            font-weight: bold;
            font-size: 37px;
            color: #000000;
        }
    }
    nav{
        width: 500px;
        height: 30px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            li{
                width: 115px;
                height: 25px;
                text-align: center;
                border-radius: 30px;
                transition: 500ms;
                
                a{
                    font-family: $titulos;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $color-negro-oscuro;
                    transition: 500ms;
                }
            }
            a:hover{
                color: white;
            }
            li:hover{
                background-color: $color-negro-gris;
                
            }
        }
    }
}
.atb-index-banner{
    height: 75vh;
    overflow: hidden;
    margin: 30px 0px 30px 0px;
    .atb-index-banner-contain{
        height: 90%;
        width: 100%;
        margin-left: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .atb-index-banner-image{
            height: 100%;
            width: 75%;
            background-image: url(../multimedia/Banners-Home-1024x682.png);
            background-size: cover;
            border-radius: 14px;
            background-repeat: no-repeat;
            background-position: right;
            
        }
        .atb-index-banner-text{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: translate(-185px, 0px);
            
            h2{
                height: 30vh;
                font-family: $titulos;
                font-style: italic;
                font-weight: 900;
                font-size: 30vh;
                color: $color-negro-gris;
            }
            h3{
                font-family: $titulos;
                font-style: italic;
                font-weight: 900;
                font-size: 4.5vh;
                letter-spacing: 1px;
                color: $color-negro-gris;
            }
            p{
                font-family: $textos;
                font-style: normal;
                font-weight: normal;
                font-size: 2vh;
                margin: 15px 0px;
                color: $color-negro-gris;
            }
            .button {
                width: 9vw;
                height: 5vh;
                background-color: $color-negro-gris;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                transition: 500ms;
                a{
                    color: white;
                    font-family: $textos;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.80vh;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .button:hover{
                background-color: $color-negro-oscuro;
                font-weight: bolder;
            }
        }
    }
}
.atb-index-clients{
    height: 150vh;
    margin: 30px 30px 0px 30px;
    .atb-index-clients-title{
        margin: 45px 125px;
        h2{
            font-family: $titulos;
            font-style: normal;
            font-weight: 900;
            font-size: 15vh;
            color: $color-negro-gris;
        }
    }
    .atb-index-clients-cards-container{
        height: 60%;
        padding: 0px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "card1 card2 card3 card4";
        grid-gap: 1rem;
        .atb-index-cards-1{
            grid-area: "card1";
            background-image: url(../multimedia/frame-1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .atb-index-cards-text-container{
                height: 180px;
                padding-left: 25px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    font-family: $titulos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 6vh;
                    text-transform: uppercase;
                    color: white;
                }
                p{
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                }

            }
        }
        .atb-index-cards-2{
            grid-area: "card2";
            background-image: url(../multimedia/frame-2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .atb-index-cards-text-container{
                height: 180px;
                padding-left: 25px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    // width: 345px;
                    // height: 118px;
                    font-family: $titulos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 6vh;
                    text-transform: uppercase;
                    color: white;
                }
                p{
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        .atb-index-cards-3{
            grid-area: "card3";
            background-image: url(../multimedia/frame-3.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .atb-index-cards-text-container{
                height: 180px;
                padding-left: 25px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    font-family: $titulos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 6vh;
                    text-transform: uppercase;
                    color: white;
                }
                p{
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        .atb-index-cards-4{
            grid-area: "card4";
            background-image: url(../multimedia/frame-4.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .atb-index-cards-text-container{
                height: 180px;
                padding-left: 25px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h3{
                    font-family: $titulos;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 6vh;
                    text-transform: uppercase;
                    color: white;
                }
                p{
                    font-family: $textos;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                }
            }
        }
    }
    .atb-index-clients-carrousel{
        background-image: url(../multimedia/publis-carrusel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 180px;
    }
}
.atb-index-clients-gallery {
    .atb-index-clients-gallery-title{
        h2{
            font-family: $titulos;
            font-style: normal;
            font-weight: 900;
            font-size: 15vh;
            text-align: center;
            color: $color-negro-gris; 
        }
    }
    .atb-index-client-gallery-contain{
        height: 1900px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .atb-index-gallery-colums-1{
            height: 1668px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .atb-index-cliente-1{
                width: 355px;
                height: 365px;
                background-image: url(../multimedia/g-frame-1.png);
            }
            .atb-index-cliente-2{
                width: 355px;
                height: 355px;
                background-image: url(../multimedia/g-frame-2.png);
            }
            .atb-index-cliente-3{
                width: 355px;
                height: 405px;
                background-image: url(../multimedia/g-frame-3.png);
            }
            .atb-index-cliente-4{
                width: 355px;
                height: 443px;
                background-image: url(../multimedia/g-frame-4.png);
            }
        }
        .atb-index-gallery-colums-2{
            height: 1838px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .atb-index-cliente-5{
                width: 355px;
                height: 488px;
                background-image: url(../multimedia/g-frame-5.png);
            }
            .atb-index-cliente-6{
                width: 355px;
                height: 355px;
                background-image: url(../multimedia/g-frame-6.png);
            }
            .atb-index-cliente-7{
                width: 355px;
                height: 443px;
                background-image: url(../multimedia/g-frame-7.png);
            }
            .atb-index-cliente-8{
                width: 355px;
                height: 452px;
                background-image: url(../multimedia/g-frame-8.png);
            }
        }
        .atb-index-gallery-colums-3{
            height: 1641px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .atb-index-cliente-9{
                width: 355px;
                height: 388px;
                background-image: url(../multimedia/g-frame-9.png);
            }
            .atb-index-cliente-10{
                width: 355px;
                height: 355px;
                background-image: url(../multimedia/g-frame-10.png);
            }
            .atb-index-cliente-11{
                width: 355px;
                height: 443px;
                background-image: url(../multimedia/g-frame-11.png);
            }
            .atb-index-cliente-12{
                width: 355px;
                height: 355px;
                background-image: url(../multimedia/g-frame-12.png);
            }
        }
    }
}
footer {
    height: 25vh;
    background-color: $color-negro-oscuro;
    color: white;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .atb-index-f-contacto{
        display: flex;
        flex-direction: column;
        h3{
            font-family: $textos;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5vh;
            margin-bottom: 15px;
        }
        a{
            font-family: $textos;
            color: white;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 2.2vh;
            margin-bottom: 12px;
        }
    }
    .atb-index-f-informacion{
        display: flex;
        flex-direction: column;
        h3{
            font-family: $textos;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5vh;
            margin-bottom: 15px;
        }
        a{
            font-family: $textos;
            color: white;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 2.2vh;
            margin-bottom: 12px;
        }
    }
    .atb-index-f-redes{
        display: flex;
        flex-direction: column;
        h3{
            font-family: $textos;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5vh;
            margin-bottom: 15px;
        }
        .atb-index-f-redes-icon-contain{
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            a{
                background-color: white;
                border-radius: 30px;
                .atb-index-f-redes-icon-1{
                    width: 50px;
                    height: 50px;
                    background-image: url(../multimedia/Instagram.png);
                    background-size: 48px 48px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            a{
                .atb-index-f-redes-icon-2{
                    width: 50px;
                    height: 50px;
                    background-image: url(../multimedia/Facebook.png);
                    background-size: 48px 48px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            a{
                .atb-index-f-redes-icon-3{
                    width: 50px;
                    height: 50px;
                    background-image: url(../multimedia/Linkedin.png);
                    background-size: 48px 48px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            a{
                .atb-index-f-redes-icon-4{
                    width: 50px;
                    height: 50px;
                    background-image: url(../multimedia/YouTube.png);
                    background-size: 48px 48px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            a{
                .atb-index-f-redes-icon-5{
                    width: 50px;
                    height: 50px;
                    background-image: url(../multimedia/Pinterest.png);
                    background-size: 48px 48px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }    
        }
    }
    .atb-index-f-newsLetter{
        h3{
            font-family: Spartan;
            font-style: normal;
            font-weight: 500;
            font-size: 2.5vh;
            margin-bottom: 15px;
        }
        .atb-index-f-newsLetter-input-contain{
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                width: 300px;
                height: 50px;
                background: #E0E0E0;
                border-radius: 10px 0px 0px 10px;
            }
            button{
                width: 140px;
                height: 50px;
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: white;
                background: #7E7E7E;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
}